#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
}
#hero-msg h1,h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: violet;
}
body {
    background-color: #fcfbfb;
}
header {
    background-color: rgba(20,30,13, .7);
}
nav a:hover {
    background-color: blue;
}
.book {
    color: blueviolet;
}
.join {
    color: blueviolet;
}
.book:hover {
    color: aqua;
}
.join:hover {
    color: aqua;
}
.msg {
    background-color: chartreuse;
}
footer {
    background-color: chocolate;
}