@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    font-family: Agbalumo;;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #FAFAFA;
    text-decoration: none;
    padding: 35px;
}
body {
    background-color: #fcfbfb;
    font-size: 22px;
    font-family: Agbalumo;
    margin: 0;
    padding: 0;
}
header {
    background-color:#082058;
    display:grid;
    grid-template-columns: auto;
}
nav a:hover {
    background-color: #2D2E58;
    color: #d9c2a3;
}
footer {
    background-color: #082058;
    margin-top: 100px;
    padding: 25px 50px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #759C95;
}
.logo {
    width: 160px;
}
#logo_link {
    text-align: center;
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 1em;
    font-family: Agbalumo;
}
footer p a:hover {
    text-decoration: underline;
    color: #FAFAFA;
}
footer p a {
    color: #759C95;
}
.home-grid{
    margin: 5px;
    border-radius: 5px;
}
.home-grid,
.home-grid > .column {
  padding: 5px;
}
.column {
    float: left;
    width: 30%;
    display: none; 
  }
.home-grid:after {
    content: "";
    display: table;
    clear: both;
  }
.imagen{
    background-color: #686963;
    padding: 5px;
    flex: 25%;
}
.show {
    display: block;
  }
.btn {
    border: none;
    outline: none;
    cursor: pointer;
  }
.btn:hover {
    background-color: #686963;
}

.home-grid .imagen{
    position: relative;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.75);
}
.imagen img{
    margin-top: 5px;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0820584a;
    width: 100%;
    height: 0;
    transition: .5 ease;
    overflow: hidden;
   
}
.overlay h3{
    color: #FAFAFA;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}
h3{
    font-family: "Edu TAS Beginner";
}
h4{
    font-family: Agbalumo;
    color: #082058;   
}
.imagen p{
    font-family: "Edu TAS Beginner";
}
@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    footer {
        margin-top: 25px;
    }
    .imagen{
        flex: 80%;
    }
    .home-grid{
        flex-wrap: wrap;
    }
}
.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: left;
}
.slider-frame{
    width: 45%;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.6);
    margin: 30px;
    overflow: hidden;
    grid-column: 1/8;
    grid-row: 1/1;
}
.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate linear;
}
.slider-frame li{
    width: 100%;
    list-style: none;
}
.about-me{
    margin: 30px;
    grid-column: 5/8;
    grid-row: 1/1;
}
.slider-frame img{
    width: 100%;
    height: 100%;
}
@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}